.Pokedex{
   
}

.Pokedex-hand{
   
    display:grid;
    grid-template-columns: minmax(min-content, min-content) minmax(min-content, min-content) minmax(min-content, min-content);
    grid-gap:2em;
    margin-top:2em;
    justify-content: center;
    
}

.Pokecard{
    
    text-align: center;
    border:1px solid rgb(204, 200, 200);
    box-shadow: 3px 5px  10px #ddd7d7;
    
    
}
.Pokecard-title{
    font-size:1.1rem;
    color:rgb(71, 107, 62);
    
}
.Pokecard-img{
    height:10em;
}
.Pokecard-type{
    font-size:0.9rem;
}
.Pokecard-power{
    color:green;

}