.Pokedex{
   
    display:grid;
    grid-template-rows: 50% 50%;
    height:80vh;
    justify-content: center;
    grid-gap:2em;
}

.Pokedex-hand{
   
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:2em;
    margin-top:2em;
    
}

.Pokecard{
    
    text-align: center;
    border:1px solid grey;
    
    
}
.Pokecard-title{
    font-size:1.3rem;
    
}
.Pokecard-img{
    height:9em;
}
.Pokecard-type{
    font-size:0.9rem;
}
.Pokecard-power{
    color:green;

}